.home {
    width: 90%;
    margin: auto;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;

    figure {
        background: #000000;
        mix-blend-mode: darken;
        border-radius: 25px;
        width: 77.5em;
        height: 13.94em;
    }

    img {
        border-radius: 25px;
        opacity: 0.7;
    }

    p {
        position: absolute;
        color: #ffffff;
        font-size: 48px;
        margin: 0;
        font-weight: 500;
    }
}

@media (max-width: 415px) {
    .home {
        margin-top: -1em;
    }

    .banner {
        margin-bottom: -0.5em;

        figure {
            border-radius: 10px;
            width: 21em;
            height: 7em;

            img {
                border-radius: 10px;
                width: 21em;
                height: 7em;
                object-fit: cover;
            }
        }

        p {
            font-size: 24px;
            width: 59%;
            text-align: left;
            left: 11%;
        }
    }
}