.error {
    display: flex;
    align-items: center;
    flex-direction: column;

    .error404 {
        color: #FF6060;
        font-size: 288px;
        font-weight: 700;
        margin: 0;
    }

    .errorText {
        color: #FF6060;
        font-size: 36px;
    }

    .errorLink {
        color: #FF6060;
        position: absolute;
        bottom: 10%;
        font-size: 18px;
    }
}