.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: #000000;
    color: #ffffff;
    height: 11em;
    position: relative;
    bottom: 0%;

    img {
        width: 7em;
    }

    p {
        font-size: 24px;
        font-weight: 500;
    }
}

@media (max-width: 415px) {
    .footer {
        justify-content: center;
        p {
            font-size: 12px;
            margin-top: 2em;
        }
    }
}